<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>blocksWeb module</display-name>
	<!-- struts2 tiles begin -->
	<context-param>
		<param-name>org.apache.tiles.CONTAINER_FACTORY</param-name>
		<param-value>
			org.apache.struts2.tiles.StrutsTilesContainerFactory
		</param-value>
	</context-param>
	<context-param>
		<param-name>
			org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
		</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>
	<!-- struts2 tiles end -->

	<!-- struts2 filter begin -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- struts2 filter end -->

	<!-- struts2 tiles begin -->
	<listener>
		<listener-class>
			org.apache.tiles.extras.complete.CompleteAutoloadTilesListener
		</listener-class>
	</listener>
	<!-- struts2 tiles end -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
